<table>
  <tr>
    <th><%= f.label(:memo) %></th>
    <td><%= f.text_field(:memo) %></td>
  </tr>
  <tr>
    <th><%= f.label(:amount) %></th>
    <td><%= f.text_field(:amount) %></td>
  </tr>
</table>
