<h1>Accounts</h1>
<table>
  <tr>
    <th>Description</th>
    <th>Total Balance</th>
  </tr>
  <% @accounts.each do |f| %>
    <tr>
      <td><%= f.description %></td>
      <td><%= f.balance %></td>
    </tr>
  <% end %>
</table>
